#congress-bulk-action-table-wrapper {
	max-height: 80vh;
	overflow-y: scroll;
	width: fit-content;
}

#congress-bulk-action-table {
	border-collapse: collapse;
	background-color: #fff;
	min-width: 75vw;

	.congress-no-button {
		width: 100%;
		height: 100%;
		border: none;
		background: inherit;
		text-align: inherit;
		font: inherit;
		color: inherit;

		&:hover {
			filter: brightness(95%);
		}
	}

	thead {
		position: sticky;
		z-index: 1;
		top: 0;
	}

	tfoot {
		position: sticky;
		z-index: 1;
		bottom: 0;
	}

	thead,
	tfoot {
		background-color: #ddd;
	}

	td {
		padding-block: 0.1em;
		padding-inline: 1em;
	}

	td,
	th > div {
		text-align: left;
		border: 1px solid #999;
	}

	tfoot td {
		padding: 0;
	}

	th > div {
		background-color: #ddd;
		width: calc(100% - 1px);

		&.congress-sort-toggle::after {
			content: "";
			display: inline-block;
			width: 1.2em;
			height: 1.2em;
			position: absolute;
			margin-top: 0.7em;
			margin-left: -1.8em;
			background-image: url(data:image/svg+xml;base64,PCEtLSBGcm9tOiB3d3cuc3ZncmVwby5jb20gLS0+CjxzdmcgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iLTkgMCAzMiAzMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC4yODEgMTMuMDYzbDUuOTY5LTcuNDM4YzAuNTMxLTAuNjg4IDEuNDA2LTAuNjg4IDEuOTM4IDBsNS45NjkgNy40MzhjMC41MzEgMC42ODggMC4yODEgMS4yNS0wLjYyNSAxLjI1aC0xMi42MjVjLTAuOTA2IDAtMS4xNTYtMC41NjMtMC42MjUtMS4yNXpNMTQuMTU2IDE4LjkzOGwtNS45NjkgNy40MzhjLTAuNTMxIDAuNjg4LTEuNDA2IDAuNjg4LTEuOTM4IDBsLTUuOTY5LTcuNDM4Yy0wLjUzMS0wLjY4OC0wLjI4MS0xLjI1IDAuNjI1LTEuMjVoMTIuNjI1YzAuOTA2IDAgMS4xNTYgMC41NjMgMC42MjUgMS4yNXoiPjwvcGF0aD4KPC9zdmc+Cg==);
		}
	}

	th > div,
	tfoot td > div {
		border: 1px solid #999;
		height: calc(100% + 2px);
		margin-top: 0;
		margin-left: -0.5px;
		margin-bottom: -0.5px;
		margin-right: -1px;
	}

	tfoot td > div {
		padding-block: 0.6em;
		border-bottom: none;
	}


	th:first-child > div {
		padding-inline: 1em;

		& > input {
			margin-top: 0.6em;
		}
	}

	th {
		border: none;
		padding: 0;
		height: 2.5em;

		&:last-child {
			width: 0;
		}
	}

	tfoot td > div > form {
		margin-inline: 1em;
	}

	.congress-state-row > td {

		border-bottom: none;

		&.congress-crossed {
			text-decoration: line-through;
		}

		&.congress-activated {
			content: "Activated!";

			&:not(.congress-crossed) {
				color: var(--congress-success);
			}
		}

		&.congress-deactivated {
			content: "Deactivated!";

			&:not(.congress-crossed) {
				color: var(--congress-danger);
			}
		}

		&.congress-enabled {
			content: "Enabled!";

			&:not(.congress-crossed) {
				color: var(--congress-success);
			}
		}

		&.congress-disabled {
			content: "Disabled!";

			&:not(.congress-crossed) {
				color: var(--congress-danger);
			}
		}

		&:nth-last-child(2) {
			border-right: none;
		}

		&:last-child {
			border-left: none;

			&.congress-expanded {
				background-color: #eee;
			}
		}
	}

	.congress-icon-plus {
		margin-top: -1em;
		transform: translateY(0.6em);
		margin-right: -0.5em;
		width: 2em;
		height: 2em;
		display: inline-block;
		background-image: url(data:image/svg+xml;base64,PCEtLSBGcm9tIHd3dy5zdmdyZXBvLmNvbSAtLT4KPHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02IDEySDE4TTEyIDZWMTgiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
	}

	.congress-icon-minus {
		margin-top: -1em;
		transform: translateY(0.6em);
		margin-right: -0.5em;
		width: 2em;
		height: 2em;
		display: inline-block;
		background-image: url(data:image/svg+xml;base64,PCEtLSBGcm9tIHd3dy5zdmdyZXBvLmNvbSAtLT4KPHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02IDEyTDE4IDEyIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
	}

	.congress-state-row-expansion {
		display: none;

		form {
			max-width: 65vw;
		}
	}

	.congress-state-row-expansion.congress-expanded {
		display: table-row;

		& > td {
			border-top: 1px solid #ccc;
			border-right: none;
			background-color: #eee;
		}

		& > td:first-child {
			background-color: inherit;
			border-top: none;
			border-right: 1px solid #ccc;
		}

		& > td:last-child {
			border-right: 1px solid #ccc;
			border-left: none;
			border-top: none;
		}
	}
}
